@config "../../tailwind.config.ts";
@import "tailwindcss";

p,
span,
pre,
h1, h2
 {
  text-wrap: initial;
  caret-color: transparent;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}

.content {
  @apply w-screen py-offsetY overflow-x-hidden scroll-smooth;
}

.input {
  @apply bg-light rounded w-full p-2 outline-none
  focus:shadow-[0px_2px_20px_-5px_#D98C5F] placeholder:text-gray-400;
}

.legend {
  @apply text-light max-w-2/3 text-center px-2;
}

.fieldset {
  @apply w-full border-t border-light;
}

.form {
  @apply w-[90%] md:w-1/3 flex flex-col gap-5 text-dark;
}

.input-file {
  @apply file:border-0 file:rounded-full file:bg-accent_2 file:p-1 file:text-light hover:file:opacity-90;
}

.error {
  @apply text-red-100 bg-red-500 italic text-sm mt-1 px-1;
}