@config "../../tailwind.config.ts";
@import "tailwindcss";

/* :root {
  --background: #1B1026;
  --foreground: #1B1026;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1026;
    --foreground: #F2F2F2;
  }
} */

p,
span,
pre,
h1 {
  text-wrap: initial;
  caret-color: transparent;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}

.content {
  @apply w-screen overflow-x-hidden scroll-smooth;
}
